.spacer{

    flex: 1 1 auto;
}

.hello{
    margin-right: 10px;
}

.navv{
      outline:0;
      border: none;
    cursor: pointer;
    float: right;
}
.nav{
    
    outline:0;
    border: none;
  cursor: pointer;
  float: right;
}




nav ul{
    list-style-type: none;

}
.xyz{
    cursor: pointer;
    margin-right: 35px;
}
.xy{
    cursor: pointer;
    
}
.x{
    cursor: pointer;
    outline:0;
    border: none;
    
}


